{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Green Guard</h3>
                <p class="lead" style="font-weight: 350;">Hi, We are Aksdada, Prachi , Daniyal ,Pranay. Currently Pursuing MCA in KKWAGH.</p>
            </center>
<div>
    <h5>Email Addresses:</h5><br>

    <!-- Prachi Pawar's Email -->
    <a target="_blank" href="mailto:prachimpawar2020@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Gmail Icon">
    </a> : prachimpawar2020@gmail.com<br><br>

    <!-- Akshada's Email -->
    <a target="_blank" href="mailto:akshadap85@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Gmail Icon">
    </a> : akshadap85@gmail.com<br><br>

    <!-- Shaikh Daniyal's Email -->
    <a target="_blank" href="mailto:shaikhdaniyal8603@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Gmail Icon">
    </a> : shaikhdaniyal8603@gmail.com<br><br>

    <!-- Pranay Vaidya's Email -->
    <a target="_blank" href="mailto:vaidyapranay42@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Gmail Icon">
    </a> : vaidyapranay42@gmail.com<br>

</div>
        </div>
    </div>

    </div>
</div>

{% endblock body %}